.full {
    /* margin-top: 50rem; */
    /* Equal to navbar height */
    position: relative;
    height: 30rem;
    width: 90%;
    max-width: 70rem;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    object-fit: fill;
    margin-top: 6rem;
}

.image {
    width: 100%;
    height: 100%;
    position: relative;
}

.dot-play {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.dots {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dot-orange {
    width: 12px;
    height: 12px;
    background: orange;
    border-radius: 50%;
    cursor: pointer;
}

.dot-white {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.play-icon {
    position: absolute;
    bottom: 5%;
    right: 20%;
    z-index: 2;
    border: black;
    cursor: pointer;
    width: 3.5rem;
}

@media (max-width: 768px) {
    .full {
        height: 15rem;
    }
    .dot-play {
        bottom: 10px;
    }
    .play-icon {
        bottom: 10px;
        right: 10px;
    }
    .dot-orange,
    .dot-white {
        width: 10px;
        height: 10px;
    }
}